body{
    font-family: 'Dosis', sans-serif;
    width: 960px;
    margin: auto;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-size: auto;
}
aside{
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #96252A;
}
main{
    margin-left: 200px;
    padding-left: 10px;
}
nav a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    background-color: #2A2D3E;
}
header img{
    width: 100%;
}
#about-us img{
    width: 300px;
    margin-left: 10px;
    float: right;
}
.col-3{
    width: 32.535%;
    float: left;
}
.col-3 img{
    width: 100%;
    display: block;
    
}
.mr-5{
    margin-right: 5px;
}
.col-3 h3{
    text-align: center;
}
h1{
    color: #96252A;
    text-transform: uppercase;
    border-bottom: 2px solid #96252A;
    padding-bottom: 10px;
}
form input,
form textarea,
table{
    width: 100%;
    box-sizing: border-box;
}
form input,
form textarea{
    border: 1px solid#2A2D3E;
    padding: 5px;
}
.btn{
    width: 100px;
    background-color: #96252A;
    color: #fff;
    padding: 15px;
    margin-bottom: 15px;
}
.logo{
    width: 140px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}